node_modules
*.env
package-lock.json
avatars/*.jpg
avatars/*.png
avatars/*.gif
avatars/*.jpeg
avatars/*.bmp
avatars/*.webp
forumLogos/*.jpg
forumLogos/*.png
forumLogos/*.gif
forumLogos/*.jpeg
forumLogos/*.bmp