#root {
  margin: 0 auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  min-height: 100vh;
  background-color: #f0f0f0;
}

span > p {
  color: rgb(116, 116, 116) !important;
  margin: 0;
}